@using InspireHubWebApp.DTOs
@model Application
@{
    ViewData["Title"] = "Home";
}

<section id="top-section" class="top-section d-flex flex-column align-items-center">
    <div class="main-title">
        <h1>Learn what you love!</h1>
        <p>
        It is a long established fact that a reader will be distracted by
        the readable <br />content of a page when looking at its layout.
        </p>
    </div>
    <div class="image-wrapper">
        <img
        src="~/assets/images/image-1.png"
        alt=""
        class="w-100 h-100 object-fit-cover"
        />
    </div>
    </section>
      <section id="training-section" class="training-section d-flex flex-column align-items-center">
        <div class="main-title">
          <h1>Trajnimet</h1>
          <p>
            Below you can find and pick the trainings that suit you the best
          </p>
        </div>
        <div class="cards-wrapper col-12">
          <div class="training-card col-12 col-md-10 col-sm-12 row">
            <div class="avatar-info col-12 col-md-5 p-0">
              <img
                src="~/assets/images/avatar1.png"
                class="avatar-image"
                alt="avatarImage"
              />
              <div class="avatar-detail">
                <span>Instruktor</span>
                <h4>Abdullah Hasani</h4>
                <p>Co-Founder & Creative Director at Honedon</p>
                <ul>
                  <li>
                    <a href="#">
                      <img
                        src="~/assets/images/icons/facebook.png"
                        alt="facebook-icon"
                      />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img
                        src="~/assets/images/icons/instagram.png"
                        alt="instagram-icon"
                      />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="~/assets/images/icons/Behance.png" alt="behance-icon" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img
                        src="~/assets/images/icons/Dribbble.png"
                        alt="dribbble-icon"
                      />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img
                        src="~/assets/images/icons/Linkedin.png"
                        alt="linkedin-icon"
                      />
                    </a>
                  </li>
                </ul>
                <div class="button-wrapper">
                  <button
                    class="btn btn-primary d-inline d-md-none"
                    data-bs-target="#modal1"
                    data-bs-toggle="modal"
                  >
                    Apliko
                  </button>
                  <button
                    class="btn btn-secondary d-inline d-md-none"
                    data-bs-target="#modal1"
                    data-bs-toggle="modal"
                  >
                    Më Shumë
                  </button>
                </div>
              </div>
            </div>
            <div class="training-detail col-12 col-md-7">
              <h2>Graphic Design <br />Training</h2>
              <p class="first-paragraph">24 Prill 2023 — 24 Maj 2023</p>
              <ul>
                <li>54 hours / 3 days * 3 hours per day / 6 weeks.</li>
                <li>Monday, Wednesday and Friday from 09:00 - 12:00</li>
                <li><strong>Price: 300 €</strong></li>
              </ul>
              <div class="button-wrapper">
                <div
                  class="modal fade modal-xl"
                  id="modal1"
                  aria-hidden="true"
                  aria-labelledby="exampleModalToggleLabel"
                  tabindex="-1"
                >
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                      <div
                        class="modal-header d-flex flex-column align-items-start"
                      >
                        <h1 class="modal-title" id="exampleModalToggleLabel">
                          Graphic Design <br />
                          Training
                        </h1>
                        <p class="first-paragraph">
                          24 Prill 2023 — 24 Maj 2023
                        </p>
                        <div class="modal-header-box">
                          <p>
                            Graphic design is the process of visual
                            communication and problem-solving through the use of
                            typography, photography, iconography, and
                            illustration.
                          </p>
                        </div>
                        <div class="modal-header-box">
                          <p>Price: <strong>300 Euro</strong> (20% discount for student)</p>
                          <p>Application Deadline: <strong>April 23rd</strong></p>
                        </div>
                      </div>
                      <div class="modal-body d-none" id="modal-body-1">
                        <div class="modal-content-wrapper">
                          <div class="modal-content-header">
                            <h3>Course Details</h3>
                          </div>
                          <div class="modal-box">
                            <h3>Schedule</h3>
                            <div class="box-content">
                              <ul>
                                <li>
                                  54 hours / 3 days * 3 hours per day / 6 weeks.
                                </li>
                                <li>
                                  Monday Wednesday and Friday from 09:00 - 12:00
                                </li>
                                <li>This course will start on October 14.</li>
                              </ul>
                            </div>
                          </div>
                          <div class="modal-box">
                            <h3>Certification / Completion</h3>
                            <div class="box-content">
                                <span>Minimum criteria:</span>
                              <ol class="mt-4 ps-3">
                                <li>
                                    Course attendance – 80%.
                                </li>
                                <li>
                                  Final Project/Exam - 20%
                                </li>
                              </ol>
                            </div>
                          </div>
                          <div class="modal-box">
                            <h3>Abstract</h3>
                            <div class="box-content">
                              <p>
                                  A graphic designer is someone with super powers and this is not an exaggeration. Graphic Designers can create visual concepts for anything and as such, can get employed in a myriad of companies and industries or to work on their own as a freelancers who can do their job from the comfort of their home or anywhere. In the digital era that we are living, graphic design has been an essential skill for individuals but a mandatory job for almost all businesses. When you mix hard work, having fun with it, being consistent, and the know-how of using the right tools you will be a very serious candidate for a job that a lot of companies are struggling to find.
                              </p>
                              <p>
                                  Join us so that we learn the basics of Graphic Design and let me share my 10+ years experience while i treat the course with as much fun as possible. Creating should be enjoyable and that is exactly what i do with my daily work. I am going to bring that to the class room.
                              </p>
                            </div>
                          </div>
                          <div class="modal-box">
                            <h3>Content</h3>
                            <div class="box-content">
                              <ul>
                                <li>
                                  Principles of Design
                                </li>
                                <li>
                                  Color Theory
                                </li>
                                <li>Fonts</li>
                                <li>Sketching</li>
                                <li>Brainstorming and research</li>
                                <li>Adobe Illustrator</li>
                                <li>Adobe Photoshop</li>
                                <li>Branding</li>
                                <li>Packaging</li>
                                <li>Theory</li>
                                <li>Demonstration</li>
                                <li>Practice</li>
                              </ul>
                            </div>
                          </div>
                          <div class="modal-box">
                            <h3>Who is this course for?</h3>
                            <div class="box-content">
                              <p>
                                  Anyone who has sparks of passion towards designing things with meaning. People who understand the importance of graphic design in the digital world. Those who have the patience to learn the basics and have the courage to continue their path onwards.
                              </p>
                            </div>
                          </div>
                          <div class="modal-box">
                            <h3>Why take part in this course</h3>
                            <div class="box-content">
                              <ol>
                                <li>
                                    Learn from someone who understands Graphic Design in and out and has more than 10 years of experience.
                                </li>
                                <li>
                                    Learn only the things you will be using, not theory or anything you wont apply.
                                </li>
                                <li>
                                    Get the course from someone who understand the market as much as the tools to create what is needed.
                                </li>
                                <li>
                                    Grasp the basic skills for a very promising industry.
                                </li>
                                <li>
                                    Be mentored while executing real world projects.6. Learn while having fun and excitement at the same time.
                                </li>
                              </ol>
                            </div>
                          </div>
                        </div>
                        <div class="modal-instructor-wrapper row">
                          <div class="col-12 col-md-4">
                            <div class="instructor-image">
                              <img src="~/assets/images/avatar1.png" alt="" />
                            </div>
                          </div>
                          <div class="instructor-details col-12 col-md-8">
                            <span>Instruktor</span>
                            <h4>Abdullah Hasani</h4>
                            <p>
                              Abdullah Hasani is Prishtina based Graphic
                              Designer and founder of Honedon creative agency,
                              with over 10 Years of experience in creative
                              field. Abdullah has helped build brand identities
                              and promotional material for local and
                              international businesses as well as advertising
                              campaigns and digital products for corporate
                              companies. Abdullah has a wide creative
                              background, he studied in Faculty of Visual Arts
                              and has bachelor degree in Graphic Design.
                            </p>
                            <ul>
                              <li>
                                <a href="#">
                                  <img
                                    src="~/assets/images/icons/facebook.png"
                                    alt="facebook-icon"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <img
                                    src="~/assets/images/icons/instagram.png"
                                    alt="instagram-icon"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <img
                                    src="~/assets/images/icons/Behance.png"
                                    alt="behance-icon"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <img
                                    src="~/assets/images/icons/Dribbble.png"
                                    alt="dribbble-icon"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <img
                                    src="~/assets/images/icons/Linkedin.png"
                                    alt="linkedin-icon"
                                  />
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div class="modal-footer-content">
                          <form asp-action="SendApplication" method="post">
                            <input type="hidden" asp-for="@Model.CourseTitle" value="Graphic Design Training" />
                            <div class="row">
                              <div class="col-md-6">
                                <label for="exampleInputName" class="form-label"
                                  >Emri:</label
                                >
                                <input
                                  type="text"
                                  asp-for="@Model.FirstName"
                                  class="form-control"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                              </div>
                              <div class="col-md-6">
                                <label
                                  for="exampleInputSurname"
                                  class="form-label"
                                  >Mbiemri:</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  asp-for="@Model.LastName"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <label
                                  for="exampleInputEmail"
                                  class="form-label"
                                  >Email:</label
                                >
                                <input
                                  type="email"
                                  class="form-control"
                                  asp-for="@Model.Email"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                              </div>
                              <div class="col-md-6">
                                <label
                                  for="exampleInputPhoneNumber"
                                  class="form-label"
                                  >Numri i telefonit:</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  asp-for="@Model.Phone"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                              </div>
                            </div>
                            <button type="submit" class="btn btn-primary">
                              Apliko
                            </button>
                          </form>
                        </div>
                      </div>
                      <div class="modal-footer-button">
                        <button
                          class="btn btn-secondary"
                          type="button"
                          onclick=" showContent('modal-body-1')"
                        >
                          Me Shume
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                
                <button
                  class="btn btn-primary d-none d-md-inline"
                  data-bs-target="#modal1"
                  data-bs-toggle="modal"
                >
                  Apliko
                </button>
                <button
                  class="btn btn-secondary d-none d-md-inline"
                  data-bs-target="#modal1"
                  data-bs-toggle="modal"
                >
                  Më Shumë
                </button>
              </div>
            </div>
          </div>
          @*Card 2*@
          <div class="training-card col-12 col-md-10 col-sm-12 row">
            <div class="avatar-info col-12 col-md-5 p-0">
              <img
                src="~/assets/images/avatar2.png"
                class="avatar-image"
                alt="avatarImage"
              />
              <div class="avatar-detail">
                <span>Instruktor</span>
                <h4>Urim Karakashi</h4>
                <p>Co-Founder & UI/ UX Designer at Honedon</p>
                <ul>
                  <li>
                    <a href="#">
                      <img
                        src="~/assets/images/icons/facebook.png"
                        alt="facebook-icon"
                      />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img
                        src="~/assets/images/icons/instagram.png"
                        alt="instagram-icon"
                      />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="~/assets/images/icons/Behance.png" alt="behance-icon" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img
                        src="~/assets/images/icons/Dribbble.png"
                        alt="dribbble-icon"
                      />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img
                        src="~/assets/images/icons/Linkedin.png"
                        alt="linkedin-icon"
                      />
                    </a>
                  </li>
                </ul>
                <div class="button-wrapper">
                  <button
                    class="btn btn-primary d-inline d-md-none"
                    data-bs-target="#modal2"
                    data-bs-toggle="modal"
                  >
                    Apliko
                  </button>
                  <button
                    class="btn btn-secondary d-inline d-md-none"
                    data-bs-target="#modal2"
                    data-bs-toggle="modal"
                  >
                    Më Shumë
                  </button>
                </div>
              </div>
            </div>
            <div class="training-detail col-12 col-md-7">
              <h2>UI/UX Design <br />Training</h2>
              <p class="first-paragraph">24 Prill 2023 — 24 Maj 2023</p>
              <ul>
                <li>54 hours / 3 days * 3 hours per day / 6 weeks.</li>
                <li>Monday, Wednesday and Friday from 09:00 - 12:00</li>
                <li><strong>Price: 300 €</strong></li>
              </ul>
              <div class="button-wrapper">
                <div
                  class="modal fade modal-xl"
                  id="modal2"
                  aria-hidden="true"
                  aria-labelledby="exampleModalToggleLabel"
                  tabindex="-1"
                >
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                      <div
                        class="modal-header d-flex flex-column align-items-start"
                      >
                        <h1 class="modal-title" id="exampleModalToggleLabel">
                          UI/UX Design <br />
                          Training
                        </h1>
                        <p class="first-paragraph">
                          24 Prill 2023 — 24 Maj 2023
                        </p>
                        <div class="modal-header-box">
                          <p>
                            Graphic design is the process of visual
                            communication and problem-solving through the use of
                            typography, photography, iconography, and
                            illustration.
                          </p>
                        </div>
                        <div class="modal-header-box">
                          <p>Price: 300 Euro (20% discount for student)</p>
                          <p>Application Deadline: April 23rd</p>
                        </div>
                      </div>
                      <div class="modal-body d-none" id="modal-body-2">
                        <div class="modal-content-wrapper">
                          <div class="modal-content-header">
                            <h3>Course Details</h3>
                          </div>
                          <div class="modal-box">
                            <h3>Schedule</h3>
                            <div class="box-content">
                              <ul>
                                <li>
                                  54 hours / 3 days * 3 hours per day / 6 weeks.
                                </li>
                                <li>
                                  Monday Wednesday and Friday from 09:00 - 12:00
                                </li>
                                <li>This course will start on October 14.</li>
                              </ul>
                            </div>
                          </div>
                          <div class="modal-box">
                            <h3>Schedule</h3>
                            <div class="box-content">
                              <ul>
                                <li>
                                  54 hours / 3 days * 3 hours per day / 6 weeks.
                                </li>
                                <li>
                                  Monday Wednesday and Friday from 09:00 - 12:00
                                </li>
                                <li>This course will start on October 14.</li>
                              </ul>
                            </div>
                          </div>
                          <div class="modal-box">
                            <h3>Schedule</h3>
                            <div class="box-content">
                              <ul>
                                <li>
                                  54 hours / 3 days * 3 hours per day / 6 weeks.
                                </li>
                                <li>
                                  Monday Wednesday and Friday from 09:00 - 12:00
                                </li>
                                <li>This course will start on October 14.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="modal-instructor-wrapper row">
                          <div class="col-12 col-md-4">
                            <div class="instructor-image">
                              <img src="~/assets/images/avatar2.png" alt="" />
                            </div>
                          </div>
                          <div class="instructor-details col-12 col-md-8">
                            <span>Instruktor</span>
                            <h4>Urim Karakashi</h4>
                            <p>
                              Abdullah Hasani is Prishtina based Graphic
                              Designer and founder of Honedon creative agency,
                              with over 10 Years of experience in creative
                              field. Abdullah has helped build brand identities
                              and promotional material for local and
                              international businesses as well as advertising
                              campaigns and digital products for corporate
                              companies. Abdullah has a wide creative
                              background, he studied in Faculty of Visual Arts
                              and has bachelor degree in Graphic Design.
                            </p>
                            <ul>
                              <li>
                                <a href="#">
                                  <img
                                    src="~/assets/images/icons/facebook.png"
                                    alt="facebook-icon"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <img
                                    src="~/assets/images/icons/instagram.png"
                                    alt="instagram-icon"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <img
                                    src="~/assets/images/icons/Behance.png"
                                    alt="behance-icon"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <img
                                    src="~/assets/images/icons/Dribbble.png"
                                    alt="dribbble-icon"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <img
                                    src="~/assets/images/icons/Linkedin.png"
                                    alt="linkedin-icon"
                                  />
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div class="modal-footer-content">
                          <form asp-action="SendApplication" method="post">
                            <input type="hidden" asp-for="@Model.CourseTitle" value="UI/UX Design Training" />
                            <div class="row">
                              <div class="col-md-6">
                                <label for="exampleInputName" class="form-label"
                                  >Emri:</label
                                >
                                <input
                                  type="text"
                                  asp-for="@Model.FirstName"
                                  class="form-control"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                              </div>
                              <div class="col-md-6">
                                <label
                                  for="exampleInputSurname"
                                  class="form-label"
                                  >Mbiemri:</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  asp-for="@Model.LastName"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <label
                                  for="exampleInputEmail"
                                  class="form-label"
                                  >Email:</label
                                >
                                <input
                                  type="email"
                                  class="form-control"
                                  asp-for="@Model.Email"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                              </div>
                              <div class="col-md-6">
                                <label
                                  for="exampleInputPhoneNumber"
                                  class="form-label"
                                  >Numri i telefonit:</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  asp-for="@Model.Phone"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                              </div>
                            </div>
                            <button type="submit" class="btn btn-primary">
                              Apliko
                            </button>
                          </form>
                        </div>
                      </div>
                      <div class="modal-footer-button">
                        <button
                          class="btn btn-secondary"
                          type="button"
                          onclick=" showContent('modal-body-2')"
                        >
                          Me Shume
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                
                <button
                  class="btn btn-primary d-none d-md-inline"
                  data-bs-target="#modal2"
                  data-bs-toggle="modal"
                >
                  Apliko
                </button>
                <button
                  class="btn btn-secondary d-none d-md-inline"
                  data-bs-target="#modal2"
                  data-bs-toggle="modal"
                >
                  Më Shumë
                </button>
              </div>
            </div>
          </div>
          @*Card 3*@
          <div class="training-card col-12 col-md-10 col-sm-12 row">
            <div class="avatar-info col-12 col-md-5 p-0">
              <img
                src="~/assets/images/avatar3.png"
                class="avatar-image"
                alt="avatarImage"
              />
              <div class="avatar-detail">
                <span>Instruktor</span>
                <h4>Fuad Miftari</h4>
                <p>Motion Designer / Founder at Leviz</p>
                <ul>
                  <li>
                    <a href="#">
                      <img
                        src="~/assets/images/icons/facebook.png"
                        alt="facebook-icon"
                      />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img
                        src="~/assets/images/icons/instagram.png"
                        alt="instagram-icon"
                      />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="~/assets/images/icons/Behance.png" alt="behance-icon" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img
                        src="~/assets/images/icons/Dribbble.png"
                        alt="dribbble-icon"
                      />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img
                        src="~/assets/images/icons/Linkedin.png"
                        alt="linkedin-icon"
                      />
                    </a>
                  </li>
                </ul>
                <div class="button-wrapper">
                  <button
                    class="btn btn-primary d-inline d-md-none"
                    data-bs-target="#modal3"
                    data-bs-toggle="modal"
                  >
                    Apliko
                  </button>
                  <button
                    class="btn btn-secondary d-inline d-md-none"
                    data-bs-target="#modal3"
                    data-bs-toggle="modal"
                  >
                    Më Shumë
                  </button>
                </div>
              </div>
            </div>
            <div class="training-detail col-12 col-md-7">
              <h2>Motion Design <br />Training</h2>
              <p class="first-paragraph">24 Prill 2023 — 24 Maj 2023</p>
              <ul>
                <li>54 hours / 3 days * 3 hours per day / 6 weeks.</li>
                <li>Monday, Wednesday and Friday from 09:00 - 12:00</li>
                <li><strong>Price: 300 €</strong></li>
              </ul>
              <div class="button-wrapper">
                <div
                  class="modal fade modal-xl"
                  id="modal3"
                  aria-hidden="true"
                  aria-labelledby="exampleModalToggleLabel"
                  tabindex="-1"
                >
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                      <div
                        class="modal-header d-flex flex-column align-items-start"
                      >
                        <h1 class="modal-title" id="exampleModalToggleLabel">
                          Motion Design <br />
                          Training
                        </h1>
                        <p class="first-paragraph">
                          24 Prill 2023 — 24 Maj 2023
                        </p>
                        <div class="modal-header-box">
                          <p>
                            Graphic design is the process of visual
                            communication and problem-solving through the use of
                            typography, photography, iconography, and
                            illustration.
                          </p>
                        </div>
                        <div class="modal-header-box">
                          <p>Price: 300 Euro (20% discount for student)</p>
                          <p>Application Deadline: April 23rd</p>
                        </div>
                      </div>
                      <div class="modal-body d-none" id="modal-body-3">
                        <div class="modal-content-wrapper">
                          <div class="modal-content-header">
                            <h3>Course Details</h3>
                          </div>
                          <div class="modal-box">
                            <h3>Schedule</h3>
                            <div class="box-content">
                              <ul>
                                <li>
                                  54 hours / 3 days * 3 hours per day / 6 weeks.
                                </li>
                                <li>
                                  Monday Wednesday and Friday from 09:00 - 12:00
                                </li>
                                <li>This course will start on October 14.</li>
                              </ul>
                            </div>
                          </div>
                          <div class="modal-box">
                            <h3>Schedule</h3>
                            <div class="box-content">
                              <ul>
                                <li>
                                  54 hours / 3 days * 3 hours per day / 6 weeks.
                                </li>
                                <li>
                                  Monday Wednesday and Friday from 09:00 - 12:00
                                </li>
                                <li>This course will start on October 14.</li>
                              </ul>
                            </div>
                          </div>
                          <div class="modal-box">
                            <h3>Schedule</h3>
                            <div class="box-content">
                              <ul>
                                <li>
                                  54 hours / 3 days * 3 hours per day / 6 weeks.
                                </li>
                                <li>
                                  Monday Wednesday and Friday from 09:00 - 12:00
                                </li>
                                <li>This course will start on October 14.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="modal-instructor-wrapper row">
                          <div class="col-12 col-md-4">
                            <div class="instructor-image">
                              <img src="~/assets/images/avatar3.png" alt="" />
                            </div>
                          </div>
                          <div class="instructor-details col-12 col-md-8">
                            <span>Instruktor</span>
                            <h4>Fuad Miftari</h4>
                            <p>
                              Abdullah Hasani is Prishtina based Graphic
                              Designer and founder of Honedon creative agency,
                              with over 10 Years of experience in creative
                              field. Abdullah has helped build brand identities
                              and promotional material for local and
                              international businesses as well as advertising
                              campaigns and digital products for corporate
                              companies. Abdullah has a wide creative
                              background, he studied in Faculty of Visual Arts
                              and has bachelor degree in Graphic Design.
                            </p>
                            <ul>
                              <li>
                                <a href="#">
                                  <img
                                    src="~/assets/images/icons/facebook.png"
                                    alt="facebook-icon"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <img
                                    src="~/assets/images/icons/instagram.png"
                                    alt="instagram-icon"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <img
                                    src="~/assets/images/icons/Behance.png"
                                    alt="behance-icon"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <img
                                    src="~/assets/images/icons/Dribbble.png"
                                    alt="dribbble-icon"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <img
                                    src="~/assets/images/icons/Linkedin.png"
                                    alt="linkedin-icon"
                                  />
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div class="modal-footer-content">
                          <form asp-action="SendApplication" method="post">
                            <input type="hidden" asp-for="@Model.CourseTitle" value="Motion Design Training" />
                            <div class="row">
                              <div class="col-md-6">
                                <label for="exampleInputName" class="form-label"
                                  >Emri:</label
                                >
                                <input
                                  type="text"
                                  asp-for="@Model.FirstName"
                                  class="form-control"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                              </div>
                              <div class="col-md-6">
                                <label
                                  for="exampleInputSurname"
                                  class="form-label"
                                  >Mbiemri:</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  asp-for="@Model.LastName"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <label
                                  for="exampleInputEmail"
                                  class="form-label"
                                  >Email:</label
                                >
                                <input
                                  type="email"
                                  class="form-control"
                                  asp-for="@Model.Email"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                              </div>
                              <div class="col-md-6">
                                <label
                                  for="exampleInputPhoneNumber"
                                  class="form-label"
                                  >Numri i telefonit:</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  asp-for="@Model.Phone"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                              </div>
                            </div>
                            <button type="submit" class="btn btn-primary">
                              Apliko
                            </button>
                          </form>
                        </div>
                      </div>
                      <div class="modal-footer-button">
                        <button
                          class="btn btn-secondary"
                          type="button"
                          onclick=" showContent('modal-body-3')"
                        >
                          Me Shume
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                
                <button
                  class="btn btn-primary d-none d-md-inline"
                  data-bs-target="#modal3"
                  data-bs-toggle="modal"
                >
                  Apliko
                </button>
                <button
                  class="btn btn-secondary d-none d-md-inline"
                  data-bs-target="#modal3"
                  data-bs-toggle="modal"
                >
                  Më Shumë
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="contact-section" class="contact-section">
        <div class="row">
          <div class="col-12 col-md-5">
            <div class="contact-info">
              <h2>Na kontaktoni <br />per me shume <br />informata</h2>
              <ul>
                <li>
                  <img src="~/assets/images/icons/phoneIcon.png" alt="" />
                  <a href="#">+383 000 000 000 </a>
                </li>
                <li>
                  <img src="~/assets/images/icons/emailIcon.png" alt="" />
                  <a href="#"> hello@inspirehub.info </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-7">
            <div class="form-wrapper">
              <form asp-action="SendContact" method="post">
                <div class="row">
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name"
                      asp-for="@Model.FirstName"
                      style="height: 58px"
                    />
                    <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                  </div>
                  <div class="col-md-6">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      asp-for="@Model.Email"
                      style="height: 58px"
                    />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                  </div>
                  <div class="col-12">
                    <textarea
                      class="form-control"
                      placeholder="Your Message"
                      asp-for="@Model.Message"
                      style="height: 141px"
                    ></textarea>
                  </div>
                </div>
                <button type="submit" class="btn btn-secondary">
                  Send Message
                </button>
              </form>
            </div>
          </div>
        </div>
      </section>

@section Scripts{
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}