@using InspireHubWebApp.DTOs
@model Application
@{
    ViewData["Title"] = "Home";
}

<section id="top-section" class="top-section d-flex flex-column align-items-center">
    <div class="main-title">
        <h1>Learn what you love!</h1>
        <p>
        It is a long established fact that a reader will be distracted by
        the readable <br />content of a page when looking at its layout.
        </p>
    </div>
    <div class="image-wrapper">
        <img
        src="~/assets/images/image-1.png"
        alt=""
        class="w-100 h-100 object-fit-cover"
        />
    </div>
    </section>
      <section id="training-section" class="training-section d-flex flex-column align-items-center">
        <div class="main-title">
          <h1>Trainings</h1>
          <p>
            Below you can find and pick the trainings that suit you the best
          </p>
        </div>
        <div class="cards-wrapper col-12">
          <div class="training-card col-12 col-md-10 col-sm-12 row">
            <div class="avatar-info col-12 col-md-5 p-0">
              <img
                src="~/assets/images/avatar1.png"
                class="avatar-image"
                alt="avatarImage"
              />
              <div class="avatar-detail">
                <span>Instructor</span>
                <h4>Abdullah Hasani</h4>
                <p>Co-Founder & Creative Director at Honedon</p>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/abdullahhasani01" target="_blank">
                            <img
                            src="~/assets/images/icons/facebook.svg"
                            alt="facebook-icon"
                            />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/abdullah.hasani1/" target="_blank">
                            <img
                            src="~/assets/images/icons/instagram.png"
                            alt="instagram-icon"
                            />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.behance.net/honedonllc" target="_blank">
                            <img
                            src="~/assets/images/icons/Behance.png"
                            alt="behance-icon"
                            />
                        </a>
                    </li>
                    <li>
                        <a href="https://dribbble.com/abdullahhasani" target="_blank">
                            <img
                            src="~/assets/images/icons/Dribbble.png"
                            alt="dribbble-icon"
                            />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/abdullah-hasani-470a84130/" target="_blank">
                            <img
                            src="~/assets/images/icons/Linkedin.png"
                            alt="linkedin-icon"
                            />
                        </a>
                    </li>
                    </ul>
                <div class="button-wrapper">
                  <button
                    class="btn btn-primary d-inline d-md-none"
                    data-bs-target="#modal1"
                    data-bs-toggle="modal"
                  >
                    Apply
                  </button>
                  <button
                    class="btn btn-secondary d-inline d-md-none"
                    data-bs-target="#modal1"
                    data-bs-toggle="modal"
                  >
                    More
                  </button>
                </div>
              </div>
            </div>
            <div class="training-detail col-12 col-md-7">
              <h2>Graphic Design <br />Training</h2>
              <p class="first-paragraph">08 May 2023 — 09 June 2023</p>
              <ul>
                <li>45 hours / 3 days * 3 hours per day / 5 weeks.</li>
                <li>Monday, Wednesday and Friday from 09:00 - 12:00</li>
                <li><strong>Price: 400 €</strong></li>
              </ul>
              <div class="button-wrapper">
                <div
                  class="modal fade modal-xl"
                  id="modal1"
                  aria-hidden="true"
                  aria-labelledby="exampleModalToggleLabel"
                  tabindex="-1"
                >
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                      <div
                        class="modal-header d-flex flex-column align-items-start"
                      >
                        <h1 class="modal-title" id="exampleModalToggleLabel">
                          Graphic Design <br />
                          Training
                        </h1>
                        <p class="first-paragraph">
                          08 May 2023 — 09 June 2023
                        </p>
                        <div class="modal-header-box">
                          <p>
                            Graphic design is the process of visual
                            communication and problem-solving through the use of
                            typography, photography, iconography, and
                            illustration.
                          </p>
                        </div>
                        <div class="modal-header-box">
                          <p>Price: <strong>400 Euro</strong></p>
                          <p>Application Deadline: <strong>May 3rd</strong></p>
                        </div>
                      </div>
                      <div class="modal-body d-none" id="modal-body-1">
                        <div class="modal-content-wrapper">
                          <div class="modal-content-header">
                            <h3>Course Details</h3>
                          </div>
                          <div class="modal-box">
                            <h3>Schedule</h3>
                            <div class="box-content">
                              <ul>
                                <li>
                                  45 hours / 3 days * 3 hours per day / 5 weeks.
                                </li>
                                <li>
                                  Monday Wednesday and Friday from 09:00 - 12:00
                                </li>
                                <li>This course will start on May 08.</li>
                              </ul>
                            </div>
                          </div>
                         @* <div class="modal-box">
                            <h3>Certification / Completion</h3>
                            <div class="box-content">
                                <span>Minimum criteria:</span>
                              <ol class="mt-4 ps-3">
                                <li>
                                    Course attendance – 80%.
                                </li>
                                <li>
                                  Final Project/Exam - 20%
                                </li>
                              </ol>
                            </div>
                          </div>*@
                          <div class="modal-box">
                            <h3>About</h3>
                            <div class="box-content">
                              <p>
                                Being a graphic designer is like having superpowers, and that's not an exaggeration. These creative professionals possess the ability to conceptualize and create visual designs for almost anything, making them highly sought after in a variety of industries. They have the option to work in-house for companies or as freelancers, allowing them to work from anywhere, including the comfort of their own home. In today's digital age, graphic design has become a critical skill for individuals and a necessary role for almost all businesses.    
                              </p>
                              <p>
                                When you combine hard work, creativity, consistency, and mastery of the right tools, you can become a valuable asset for any company looking for a skilled graphic designer. Join us to learn the basics of graphic design and benefit from my 10+ years of experience in the field. I believe that creating should be a fun and enjoyable experience, and I strive to bring that same energy to the classroom. So let's have fun and create something amazing together!    
                              </p>
                            </div>
                          </div>
                          <div class="modal-box">
                            <h3>Content</h3>
                            <div class="box-content">
                              <ul>
                                <li>
                                  Principles of Design
                                </li>
                                <li>
                                  Color Theory
                                </li>
                                <li>Fonts</li>
                                <li>Sketching</li>
                                <li>Brainstorming and research</li>
                                <li>Adobe Illustrator</li>
                                <li>Adobe Photoshop</li>
                                <li>Branding</li>
                                <li>Packaging</li>
                                <li>Theory</li>
                                <li>Demonstration</li>
                                <li>Practice</li>
                              </ul>
                            </div>
                          </div>
                          <div class="modal-box">
                            <h3>Who is this course for?</h3>
                            <div class="box-content">
                              <p>
                                  Anyone who has sparks of passion towards designing things with meaning. People who understand the importance of graphic design in the digital world. Those who have the patience to learn the basics and have the courage to continue their path onwards.
                              </p>
                            </div>
                          </div>
                          <div class="modal-box">
                            <h3>Why take part in this course</h3>
                            <div class="box-content">
                              <ol>
                                <li>
                                    Learn from someone who understands Graphic Design in and out and has more than 10 years of experience.
                                </li>
                                <li>
                                    Learn only the things you will be using, not theory or anything you wont apply.
                                </li>
                                <li>
                                    Get the course from someone who understand the market as much as the tools to create what is needed.
                                </li>
                                <li>
                                    Grasp the basic skills for a very promising industry.
                                </li>
                                <li>
                                    Be mentored while executing real world projects.
                                </li>
                                <li>
                                    Learn while having fun and excitement at the same time.
                                </li>
                              </ol>
                            </div>
                          </div>
                        </div>
                        <div class="modal-instructor-wrapper row">
                          <div class="col-12 col-md-4">
                            <div class="instructor-image">
                              <img src="~/assets/images/avatar1.png" alt="" />
                            </div>
                          </div>
                          <div class="instructor-details col-12 col-md-8">
                            <span>Instructor</span>
                            <h4>Abdullah Hasani</h4>
                            <p>
                              Meet Abdullah Hasani, a graphic designer and the founder of Honedon, based in Prishtina. With over 15 years of experience in the field, Abdullah has an extensive background in building brand identities and designing promotional materials for a diverse range of businesses, both locally and internationally. He has also worked on various advertising campaigns and digital products for corporate companies, helping them to achieve their marketing goals with his unique design solutions.
                              <br />
                              <br />
Abdullah has a strong educational foundation in the creative arts, having graduated with a Bachelor's degree in Graphic Design from the Faculty of Visual Arts. His passion for creativity and innovation has led him to constantly explore new design techniques and stay up-to-date with the latest trends in the industry. He is committed to delivering exceptional design solutions that not only meet but exceed his clients' expectations.
                               </p>
                            <ul>
                              <li>
                                <a href="https://www.facebook.com/abdullahhasani01" target="_blank">
                                  <img
                                    src="~/assets/images/icons/facebook.svg"
                                    alt="facebook-icon"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="https://www.instagram.com/abdullah.hasani1/" target="_blank">
                                  <img
                                    src="~/assets/images/icons/instagram.png"
                                    alt="instagram-icon"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="https://www.behance.net/honedonllc" target="_blank">
                                  <img
                                    src="~/assets/images/icons/Behance.png"
                                    alt="behance-icon"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="https://dribbble.com/abdullahhasani" target="_blank">
                                  <img
                                    src="~/assets/images/icons/Dribbble.png"
                                    alt="dribbble-icon"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="https://www.linkedin.com/in/abdullah-hasani-470a84130/" target="_blank">
                                  <img
                                    src="~/assets/images/icons/Linkedin.png"
                                    alt="linkedin-icon"
                                  />
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div class="modal-footer-content">
                          <form asp-action="SendApplication" method="post">
                            <input type="hidden" asp-for="@Model.CourseTitle" value="Graphic Design Training" />
                            <div class="row">
                              <div class="col-md-6">
                                <label for="exampleInputName" class="form-label"
                                  >First Name:</label
                                >
                                <input
                                  type="text"
                                  asp-for="@Model.FirstName"
                                  class="form-control"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                              </div>
                              <div class="col-md-6">
                                <label
                                  for="exampleInputSurname"
                                  class="form-label"
                                  >Last Name:</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  asp-for="@Model.LastName"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <label
                                  for="exampleInputEmail"
                                  class="form-label"
                                  >Email:</label
                                >
                                <input
                                  type="email"
                                  class="form-control"
                                  asp-for="@Model.Email"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                              </div>
                              <div class="col-md-6">
                                <label
                                  for="exampleInputPhoneNumber"
                                  class="form-label"
                                  >Phone Number:</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  asp-for="@Model.Phone"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                              </div>
                            </div>
                            <button type="submit" class="btn btn-primary">
                              Apply
                            </button>
                          </form>
                        </div>
                      </div>
                      <div class="modal-footer-button">
                        <button
                          class="btn btn-secondary"
                          type="button"
                          onclick=" showContent('modal-body-1')"
                        >
                          More
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                
                <button
                  class="btn btn-primary d-none d-md-inline"
                  data-bs-target="#modal1"
                  data-bs-toggle="modal"
                >
                  Apply
                </button>
                <button
                  class="btn btn-secondary d-none d-md-inline"
                  data-bs-target="#modal1"
                  data-bs-toggle="modal"
                >
                  More
                </button>
              </div>
            </div>
          </div>
          @*Card 2*@
          <div class="training-card col-12 col-md-10 col-sm-12 row">
            <div class="avatar-info col-12 col-md-5 p-0">
              <img
                src="~/assets/images/avatar2.png"
                class="avatar-image"
                alt="avatarImage"
              />
              <div class="avatar-detail">
                <span>Instructor</span>
                <h4>Urim Karakashi</h4>
                <p>Co-Founder & UI/ UX Designer at Honedon</p>
                <ul>
                  <li>
                    <a href="https://www.facebook.com/urimkarakashi" target="_blank">
                      <img
                        src="~/assets/images/icons/facebook.svg"
                        alt="facebook-icon"
                      />
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/urimkarakashi/" target="_blank">
                      <img
                        src="~/assets/images/icons/instagram.png"
                        alt="instagram-icon"
                      />
                    </a>
                  </li>
                  <li>
                    <a href="https://www.behance.net/urimkarakashi/" target="_blank">
                      <img src="~/assets/images/icons/Behance.png" alt="behance-icon" />
                    </a>
                  </li>
                  <li>
                    <a href="https://dribbble.com/ukarakashi/" target="_blank">
                      <img
                        src="~/assets/images/icons/Dribbble.png"
                        alt="dribbble-icon"
                      />
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/in/urim-karakashi-432658b5/" target="_blank">
                      <img
                        src="~/assets/images/icons/Linkedin.png"
                        alt="linkedin-icon"
                      />
                    </a>
                  </li>
                </ul>
                <div class="button-wrapper">
                  <button
                    class="btn btn-primary d-inline d-md-none"
                    data-bs-target="#modal2"
                    data-bs-toggle="modal"
                  >
                    Apply
                  </button>
                  <button
                    class="btn btn-secondary d-inline d-md-none"
                    data-bs-target="#modal2"
                    data-bs-toggle="modal"
                  >
                    More
                  </button>
                </div>
              </div>
            </div>
            <div class="training-detail col-12 col-md-7">
              <h2>UI/UX Design <br />Training</h2>
              <p class="first-paragraph">08 May 2023 — 24 Maj 2023</p>
              <ul>
                <li>54 hours / 3 days * 3 hours per day / 6 weeks.</li>
                <li>Monday, Wednesday and Friday from 09:00 - 12:00</li>
                <li><strong>Price: 350 €</strong></li>
              </ul>
              <div class="button-wrapper">
                <div
                  class="modal fade modal-xl"
                  id="modal2"
                  aria-hidden="true"
                  aria-labelledby="exampleModalToggleLabel"
                  tabindex="-1"
                >
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                      <div
                        class="modal-header d-flex flex-column align-items-start"
                      >
                        <h1 class="modal-title" id="exampleModalToggleLabel">
                          UI/UX Design <br />
                          Training
                        </h1>
                        <p class="first-paragraph">
                          24 Prill 2023 — 24 Maj 2023
                        </p>
                        <div class="modal-header-box">
                          <p>
                            Graphic design is the process of visual
                            communication and problem-solving through the use of
                            typography, photography, iconography, and
                            illustration.
                          </p>
                        </div>
                        <div class="modal-header-box">
                          <p>Price: 300 Euro (20% discount for student)</p>
                          <p>Application Deadline: April 23rd</p>
                        </div>
                      </div>
                      <div class="modal-body d-none" id="modal-body-2">
                        <div class="modal-content-wrapper">
                          <div class="modal-content-header">
                            <h3>Course Details</h3>
                          </div>
                          <div class="modal-box">
                            <h3>Schedule</h3>
                            <div class="box-content">
                              <ul>
                                <li>
                                  45 hours / 3 days * 3 hours per day / 5 weeks.
                                </li>
                                <li>
                                  Monday Wednesday and Friday from 09:00 - 12:00
                                </li>
                                <li>This course will start on May 08.</li>
                              </ul>
                            </div>
                          </div>
                         @* <div class="modal-box">
                            <h3>Certification / Completion</h3>
                            <div class="box-content">
                                <span>Minimum criteria:</span>
                              <ol class="mt-4 ps-3">
                                <li>
                                    Course attendance – 80%.
                                </li>
                                <li>
                                  Final Project/Exam - 20%
                                </li>
                              </ol>
                            </div>
                          </div>*@
                          <div class="modal-box">
                            <h3>About</h3>
                            <div class="box-content">
                              <p>
                                Being a graphic designer is like having superpowers, and that's not an exaggeration. These creative professionals possess the ability to conceptualize and create visual designs for almost anything, making them highly sought after in a variety of industries. They have the option to work in-house for companies or as freelancers, allowing them to work from anywhere, including the comfort of their own home. In today's digital age, graphic design has become a critical skill for individuals and a necessary role for almost all businesses.    
                              </p>
                              <p>
                                When you combine hard work, creativity, consistency, and mastery of the right tools, you can become a valuable asset for any company looking for a skilled graphic designer. Join us to learn the basics of graphic design and benefit from my 10+ years of experience in the field. I believe that creating should be a fun and enjoyable experience, and I strive to bring that same energy to the classroom. So let's have fun and create something amazing together!    
                              </p>
                            </div>
                          </div>
                          <div class="modal-box">
                            <h3>Content</h3>
                            <div class="box-content">
                              <ul>
                                <li>
                                  Principles of Design
                                </li>
                                <li>
                                  Color Theory
                                </li>
                                <li>Fonts</li>
                                <li>Sketching</li>
                                <li>Brainstorming and research</li>
                                <li>Adobe Illustrator</li>
                                <li>Adobe Photoshop</li>
                                <li>Branding</li>
                                <li>Packaging</li>
                                <li>Theory</li>
                                <li>Demonstration</li>
                                <li>Practice</li>
                              </ul>
                            </div>
                          </div>
                          <div class="modal-box">
                            <h3>Who is this course for?</h3>
                            <div class="box-content">
                              <p>
                                  Anyone who has sparks of passion towards designing things with meaning. People who understand the importance of graphic design in the digital world. Those who have the patience to learn the basics and have the courage to continue their path onwards.
                              </p>
                            </div>
                          </div>
                          <div class="modal-box">
                            <h3>Why take part in this course</h3>
                            <div class="box-content">
                              <ol>
                                <li>
                                    Learn from someone who understands Graphic Design in and out and has more than 10 years of experience.
                                </li>
                                <li>
                                    Learn only the things you will be using, not theory or anything you wont apply.
                                </li>
                                <li>
                                    Get the course from someone who understand the market as much as the tools to create what is needed.
                                </li>
                                <li>
                                    Grasp the basic skills for a very promising industry.
                                </li>
                                <li>
                                    Be mentored while executing real world projects.
                                </li>
                                <li>
                                    Learn while having fun and excitement at the same time.
                                </li>
                              </ol>
                            </div>
                          </div>
                        </div>
                        <div class="modal-instructor-wrapper row">
                          <div class="col-12 col-md-4">
                            <div class="instructor-image">
                              <img src="~/assets/images/avatar2.png" alt="" />
                            </div>
                          </div>
                          <div class="instructor-details col-12 col-md-8">
                            <span>Instructor</span>
                            <h4>Urim Karakashi</h4>
                            <p>
                              Abdullah Hasani is Prishtina based Graphic
                              Designer and founder of Honedon creative agency,
                              with over 10 Years of experience in creative
                              field. Abdullah has helped build brand identities
                              and promotional material for local and
                              international businesses as well as advertising
                              campaigns and digital products for corporate
                              companies. Abdullah has a wide creative
                              background, he studied in Faculty of Visual Arts
                              and has bachelor degree in Graphic Design.
                            </p>
                            <ul>
                              <li>
                                <a href="#">
                                  <img
                                    src="~/assets/images/icons/facebook.svg"
                                    alt="facebook-icon"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <img
                                    src="~/assets/images/icons/instagram.png"
                                    alt="instagram-icon"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <img
                                    src="~/assets/images/icons/Behance.png"
                                    alt="behance-icon"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <img
                                    src="~/assets/images/icons/Dribbble.png"
                                    alt="dribbble-icon"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="#">
                                  <img
                                    src="~/assets/images/icons/Linkedin.png"
                                    alt="linkedin-icon"
                                  />
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div class="modal-footer-content">
                          <form asp-action="SendApplication" method="post">
                            <input type="hidden" asp-for="@Model.CourseTitle" value="UI/UX Design Training" />
                            <div class="row">
                              <div class="col-md-6">
                                <label for="exampleInputName" class="form-label"
                                  >First Name:</label
                                >
                                <input
                                  type="text"
                                  asp-for="@Model.FirstName"
                                  class="form-control"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                              </div>
                              <div class="col-md-6">
                                <label
                                  for="exampleInputSurname"
                                  class="form-label"
                                  >Last Name:</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  asp-for="@Model.LastName"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <label
                                  for="exampleInputEmail"
                                  class="form-label"
                                  >Email:</label
                                >
                                <input
                                  type="email"
                                  class="form-control"
                                  asp-for="@Model.Email"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                              </div>
                              <div class="col-md-6">
                                <label
                                  for="exampleInputPhoneNumber"
                                  class="form-label"
                                  >Phone Number:</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  asp-for="@Model.Phone"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                              </div>
                            </div>
                            <button type="submit" class="btn btn-primary">
                              Apply
                            </button>
                          </form>
                        </div>
                      </div>
                      <div class="modal-footer-button">
                        <button
                          class="btn btn-secondary"
                          type="button"
                          onclick=" showContent('modal-body-2')"
                        >
                          More
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                
                <button
                  class="btn btn-primary d-none d-md-inline"
                  data-bs-target="#modal2"
                  data-bs-toggle="modal"
                >
                  Apply
                </button>
                <button
                  class="btn btn-secondary d-none d-md-inline"
                  data-bs-target="#modal2"
                  data-bs-toggle="modal"
                >
                  More
                </button>
              </div>
            </div>
          </div>
          @*Card 3*@
          <div class="training-card col-12 col-md-10 col-sm-12 row">
            <div class="avatar-info col-12 col-md-5 p-0">
              <img
                src="~/assets/images/avatar3.png"
                class="avatar-image"
                alt="avatarImage"
              />
              <div class="avatar-detail">
                <span>Instructor</span>
                <h4>Fuad Miftari</h4>
                <p>Motion Designer / Founder at Leviz</p>
                <ul>
                  <li>
                    <a href="https://www.facebook.com/fuad.miftari" target="_blank">
                      <img
                        src="~/assets/images/icons/facebook.svg"
                        alt="facebook-icon"
                      />
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/fuadmiftari/" target="_blank">
                      <img
                        src="~/assets/images/icons/instagram.png"
                        alt="instagram-icon"
                      />
                    </a>
                  </li>
                  <li>
                    <a href="https://www.behance.net/fuadmiftari/" target="_blank">
                      <img src="~/assets/images/icons/Behance.png" alt="behance-icon" />
                    </a>
                  </li>
                  @*<li>
                    <a href="#">
                      <img
                        src="~/assets/images/icons/Dribbble.png"
                        alt="dribbble-icon"
                      />
                    </a>
                  </li>*@
                  <li>
                    <a href="https://www.linkedin.com/in/fuad-miftari-51827312/" target="_blank">
                      <img
                        src="~/assets/images/icons/Linkedin.png"
                        alt="linkedin-icon"
                      />
                    </a>
                  </li>
                </ul>
                <div class="button-wrapper">
                  <button
                    class="btn btn-primary d-inline d-md-none"
                    data-bs-target="#modal3"
                    data-bs-toggle="modal"
                  >
                    Apply
                  </button>
                  <button
                    class="btn btn-secondary d-inline d-md-none"
                    data-bs-target="#modal3"
                    data-bs-toggle="modal"
                  >
                    More
                  </button>
                </div>
              </div>
            </div>
            <div class="training-detail col-12 col-md-7">
              <h2>Motion Design <br />Training</h2>
              <p class="first-paragraph">08 May 2023 — 13 June 2023</p>
              <ul>
                <li>33 hours / 2 days * 3 hours per day / 5 weeks.</li>
                <li>Tuesday and Thursday from 18:00 - 21:00</li>
                <li><strong>Price: 400 €</strong></li>
              </ul>
              <div class="button-wrapper">
                <div
                  class="modal fade modal-xl"
                  id="modal3"
                  aria-hidden="true"
                  aria-labelledby="exampleModalToggleLabel"
                  tabindex="-1"
                >
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                      <div
                        class="modal-header d-flex flex-column align-items-start"
                      >
                        <h1 class="modal-title" id="exampleModalToggleLabel">
                          Motion Design <br />
                          Training
                        </h1>
                        <p class="first-paragraph">
                          08 May 2023 — 13 June 2023
                        </p>
                        <div class="modal-header-box">
                          <p>
                            Motion Design is the art of bringing static design to life through movement, time and sound. Its a canvas in motion. It's a merge of graphic design and animation.
                          </p>
                        </div>
                        <div class="modal-header-box">
                          <p>Price: <strong>400 Euro</strong></p>
                          <p>Application Deadline: <strong>May 3rd</strong></p>
                        </div>
                      </div>
                      <div class="modal-body d-none" id="modal-body-3">
                        <div class="modal-content-wrapper">
                          <div class="modal-content-header">
                            <h3>Course Details</h3>
                          </div>
                          <div class="modal-box">
                            <h3>Schedule</h3>
                            <div class="box-content">
                              <ul>
                                <li>
                                  33 hours / 2 days * 3 hours per day / 5 weeks.
                                </li>
                                <li>
                                  Tuesday and Thursday from 18:00 - 21:00
                                </li>
                                <li>This course will start on May 08.</li>
                              </ul>
                            </div>
                          </div>
                          <div class="modal-box">
                            <h3>About</h3>
                            <div class="box-content">
                              <p>
                                In a distracting world full of digital screens, skilled motion designers are more than needed. This course will teach you all you need to create eye-catchy content.  
                              </p>
                              <p>
                                You will learn the basic concepts and techniques of Motion Design needed to create any kind of motion project: from TV Idents to Adverts. With a project-based approach, which will let you finish your own project too.
                                <br/>
                                Ideally the candidate has to understand the basics of graphic design or any other art, and operate Adobe Photoshop and Illustrator.  
                              </p>
                            </div>
                          </div>
                          <div class="modal-box">
                            <h3>Content</h3>
                            <div class="box-content">
                              <ul>
                                <li>
                                  Concepts of Motion Design
                                </li>
                                <li>
                                  Operating After Effects
                                </li>
                                <li>Animation Principles</li>
                                <li>Concepting, Moodboarding and Storyboarding for Motion</li>
                                <li>Visual Development and Animation</li>
                                <li>Basics of post production</li>
                              </ul>
                            </div>
                          </div>
                          <div class="modal-box">
                            <h3>Who is this course for?</h3>
                            <div class="box-content">
                              <p>
                                    Graphic Designers and Illustrators,
                                    <br/>
                                    Visual Arts students
                                    <br/>
                                    2D animation beginners who want to sharpen their skills
                                    <br/>
                                    Anyone who knows Photoshop & Illustrator, and wants to learn Motion too.
                              </p>
                            </div>
                          </div>
                          <div class="modal-box">
                            <h3>Why take part in this course</h3>
                            <div class="box-content">
                              <ol>
                                <li>
                                    It's practical, with real world examples from industry.
                                </li>
                                <li>
                                    Learn to approach motion design in a way that will let you grow in your career
                                </li>
                                <li>
                                    Learn basic theory and advanced practical tips & tricks that will speed your work
                                </li>
                                <li>
                                    Learn from experienced trainer, with 12 years of experience in Motion
                                </li>
                              </ol>
                            </div>
                          </div>
                        </div>
                        <div class="modal-instructor-wrapper row">
                          <div class="col-12 col-md-4">
                            <div class="instructor-image">
                              <img src="~/assets/images/avatar3.png" alt="" />
                            </div>
                          </div>
                          <div class="instructor-details col-12 col-md-8">
                            <span>Instructor</span>
                            <h4>Fuad Miftari</h4>
                            <p>
                                Fuad is a Prishtina based Motion Designer and founder of Leviz Studio.
                                With over 12 years of experience, Fuad has been working on different projects, for local and international brands, in different industries: broadcast, advertisement, and interacitve, to name a few.
                                Apart from working full time, Fuad loves teaching Motion Design, mentoring new students while never stopping learning for himself.
                            </p>
                            <ul>
                              <li>
                                <a href="https://www.facebook.com/fuad.miftari" target="_blank">
                                  <img
                                    src="~/assets/images/icons/facebook.svg"
                                    alt="facebook-icon"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="https://www.instagram.com/fuadmiftari/" target="_blank">
                                  <img
                                    src="~/assets/images/icons/instagram.png"
                                    alt="instagram-icon"
                                  />
                                </a>
                              </li>
                              <li>
                                <a href="https://www.behance.net/fuadmiftari/" target="_blank">
                                  <img src="~/assets/images/icons/Behance.png" alt="behance-icon" />
                                </a>
                              </li>
                              @*<li>
                                <a href="#">
                                  <img
                                    src="~/assets/images/icons/Dribbble.png"
                                    alt="dribbble-icon"
                                  />
                                </a>
                              </li>*@
                              <li>
                                <a href="https://www.linkedin.com/in/fuad-miftari-51827312/" target="_blank">
                                  <img
                                    src="~/assets/images/icons/Linkedin.png"
                                    alt="linkedin-icon"
                                  />
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div class="modal-footer-content">
                          <form asp-action="SendApplication" method="post">
                            <input type="hidden" asp-for="@Model.CourseTitle" value="Motion Design Training" />
                            <div class="row">
                              <div class="col-md-6">
                                <label for="exampleInputName" class="form-label"
                                  >First Name:</label
                                >
                                <input
                                  type="text"
                                  asp-for="@Model.FirstName"
                                  class="form-control"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                              </div>
                              <div class="col-md-6">
                                <label
                                  for="exampleInputSurname"
                                  class="form-label"
                                  >Last Name:</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  asp-for="@Model.LastName"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <label
                                  for="exampleInputEmail"
                                  class="form-label"
                                  >Email:</label
                                >
                                <input
                                  type="email"
                                  class="form-control"
                                  asp-for="@Model.Email"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                              </div>
                              <div class="col-md-6">
                                <label
                                  for="exampleInputPhoneNumber"
                                  class="form-label"
                                  >Phone Number:</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  asp-for="@Model.Phone"
                                  style="height: 52px"
                                />
                                <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                              </div>
                            </div>
                            <button type="submit" class="btn btn-primary">
                              Apply
                            </button>
                          </form>
                        </div>
                      </div>
                      <div class="modal-footer-button">
                        <button
                          class="btn btn-secondary"
                          type="button"
                          onclick=" showContent('modal-body-3')"
                        >
                          More
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                
                <button
                  class="btn btn-primary d-none d-md-inline"
                  data-bs-target="#modal3"
                  data-bs-toggle="modal"
                >
                  Apply
                </button>
                <button
                  class="btn btn-secondary d-none d-md-inline"
                  data-bs-target="#modal3"
                  data-bs-toggle="modal"
                >
                  More
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="contact-section" class="contact-section">
        <div class="row">
          <div class="col-12 col-md-5">
            <div class="contact-info">
              <h2>Contact us <br />for more <br />information</h2>
              <ul>
                <li>
                  <img src="~/assets/images/icons/phoneIcon.png" alt="" />
                  <a href="#">+383 000 000 000 </a>
                </li>
                <li>
                  <img src="~/assets/images/icons/emailIcon.png" alt="" />
                  <a href="#"> hello@inspirehub.info </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-7">
            <div class="form-wrapper">
              <form asp-action="SendContact" method="post">
                <div class="row">
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name"
                      asp-for="@Model.FirstName"
                      style="height: 58px"
                    />
                    <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                  </div>
                  <div class="col-md-6">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      asp-for="@Model.Email"
                      style="height: 58px"
                    />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                  </div>
                  <div class="col-12">
                    <textarea
                      class="form-control"
                      placeholder="Your Message"
                      asp-for="@Model.Message"
                      style="height: 141px"
                    ></textarea>
                  </div>
                </div>
                <button type="submit" class="btn btn-secondary">
                  Send Message
                </button>
              </form>
            </div>
          </div>
        </div>
      </section>

@section Scripts{
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}