@using InspireHubWebApp.DTOs;
@model TrainingDto

@{
    ViewData["Title"] = "Trajnimet";
    ViewData["MenuNo"] = 2;
    ViewData["HeaderNo"] = 1;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">Edit Training</h3>
    </div>
    <div class="card-body">
        <form asp-action="Update" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <input type="hidden" asp-for="CreatedDate" value="@Model.CreatedDate" />
            <input type="hidden" asp-for="IsDeleted" value="@Model.IsDeleted" />
            <input type="hidden" asp-for="Show" value="@Model.Show" />
            <input type="hidden" asp-for="InstructorImage" value="@Model.InstructorImage" />
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-label">Title</label>
                        <input type="text" class="form-control" placeholder="Title" asp-for="Title" />
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label class="form-label">Start Date</label>
                    <input type="text" placeholder="Data e Fillimit" asp-for="StartDateString" class="form-control datepickerInput" />
                    <span class="text-danger" asp-validation-for="StartDateString"></span>
                </div>
                <div class="col-lg-4">
                    <label class="form-label">End Date</label>
                    <input type="text" placeholder="End Date" asp-for="EndDateString" class="form-control datepickerInput" />
                    <span class="text-danger" asp-validation-for="EndDateString"></span>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label">Hours</label>
                        <input type="text" class="form-control" asp-for="Hours" placeholder="Hours" />
                        <span class="text-danger" asp-validation-for="Hours"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label">Days</label>
                        <input type="text" class="form-control" asp-for="Days" placeholder="Days" />
                        <span class="text-danger" asp-validation-for="Days"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-label">Application Deadline</label>
                        <input type="text" class="form-control" asp-for="ApplicationDeadline" placeholder="Application Deadline" />
                        <span class="text-danger" asp-validation-for="ApplicationDeadline"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-label">Price</label>
                        <input type="number" class="form-control" asp-for="Price" placeholder="Price" />
                        <span class="text-danger" asp-validation-for="Price"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-label">Discount</label>
                        <input type="number" class="form-control" asp-for="DiscountPrice" placeholder="Discount" />
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="form-label">Short Description</label>
                        <textarea class="form-control" rows="4" asp-for="ShortDescription"></textarea>
                        <span class="text-danger" asp-validation-for="ShortDescription"></span>
                    </div>
                </div>
                <div class="col-lg-12 text-center mb-5">
                    <img src="@Model.InstructorImage" width="200" />
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-label">Instructor</label>
                        <input type="text" class="form-control" asp-for="Instructor" placeholder="Instructor" />
                        <span class="text-danger" asp-validation-for="Instructor"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-label">Instructor Position</label>
                        <input type="text" class="form-control" asp-for="InstructorPosition" placeholder="Instructor Position" />
                        <span class="text-danger" asp-validation-for="InstructorPosition"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group mb-5">
                        <label class="form-label">Instructor Image</label>
                        <input type="file" class="form-control" asp-for="InstructorUpdatePhoto" />
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="form-label">Instructor Bio</label>
                        <textarea class="form-control" rows="8" asp-for="InstructorBio"></textarea>
                        <span class="text-danger" asp-validation-for="InstructorBio"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-label">Facebook</label>
                        <input type="text" class="form-control" asp-for="FacebookUrl" placeholder="Facebook" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-label">Instagram</label>
                        <input type="text" class="form-control" asp-for="InstagramUrl" placeholder="Instagram" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-label">Behance</label>
                        <input type="text" class="form-control" asp-for="BehanceUrl" placeholder="Behance" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-label">Dribbble</label>
                        <input type="text" class="form-control" asp-for="DribbbleUrl" placeholder="Dribbble" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-label">Linkedin</label>
                        <input type="text" class="form-control"asp-for="LinkedinUrl" placeholder="Linkedin" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-label">Order No</label>
                        <input type="number" class="form-control"asp-for="OrderNo" placeholder="Order No" />
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="d-flex justify-content-between mt-5">
                        <button type="submit" class="btn btn-primary">Ruaj</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{ 
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <script>
        $(document).ready(function () {
            $('.datepickerInput').datepicker({
                weekStart: 1,
                todayHighlight: true,
                orientation: "bottom right",
                format: 'dd/mm/yyyy',
            });

        });
    </script>
}