﻿@using InspireHubWebApp.DTOs;
@model StudentListDto

@{
    ViewData["Title"] = "Students";
    ViewData["MenuNo"] = 3;
    ViewData["HeaderNo"] = 1;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string emails = string.Join(", ",Model.Students.Where(x => x.Email.Trim() != "-" && (Model.TrainingId == 0 ? x.Id > 0 : x.Status != true)).Select(x => x.Email)).Trim();
}

<div class="card card-custom gutter-b example example-compact shadow-sm">
    <div class="card-header">
        <h3 class="card-title">Students</h3>
        <div class="card-toolbar">
            <a asp-controller="Student" asp-action="Add" class="btn btn-secondary">
                Add
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Training</label>
                    <select asp-for="TrainingId" asp-items="ViewBag.trainings" class="form-control select2">
                        <option value="0">All</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4 mb-5 d-flex flex-column justify-content-end">
                <div class="form-group mb-2">
                    <button type="button" class="btn btn-primary mr-3" onclick="search()">
                        Search
                    </button>
                    <a asp-controller="Student" asp-action="Print" asp-route-id="@Model.TrainingId" target="_blank" class="btn btn-secondary" >
                        Print
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-left">
                <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#exampleModalSizeLg">
                    Send Email
                </button>
            </div>
        </div>
        <div class="modal fade" id="exampleModalSizeLg" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <form asp-action="SendMessage" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Email Panel</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i aria-hidden="true" class="ki ki-close"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12 mb-5">
                                    <label>Emails</label>
                                    <textarea rows="4" class="form-control" name="emails">@emails</textarea>
                                </div>
                                <div class="col-lg-12 mb-5">
                                    <label>Subject</label>
                                    <input type="text" class="form-control" name="subject" />
                                </div>
                                <div class="col-lg-12 mb-5">
                                    <label>Message</label>
                                    <textarea rows="8" class="form-control" name="message" id="kt-tinymce-1"></textarea>
                                </div>
                                <div class="col-lg-12">
                                    <label>Attachemnt</label>
                                    <input type="file" class="form-control" name="file" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary font-weight-bold">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <table id="tableData" class="table rounded gy-5 gs-7 align-middle">
            <thead>
                <tr class="fw-bolder fs-6 text-gray-800 px-7">
                    <th>Student</th>
                    <th>Phone</th>
                    <th>Training</th>
                    <th>Price</th>
                    <th>Date Applied</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.Students)
                {
                    <tr>
                        <td class="datatable-cell">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-40 symbol-success flex-shrink-0">									
                                    <div class="symbol-label">@item.FirstName[0]</div>								
                                </div>								
                                <div class="ml-2">									
                                    <div class="text-dark-75 font-weight-bold line-height-sm">@item.FirstName @item.LastName</div>									
                                    <a href="#" class="font-size-sm text-dark-50 text-hover-primary">@item.Email</a>								
                                </div>	
                            </div>
                        </td>
                        <td>@item.Phone</td>
                        <td>@item.Training</td>
                        <td>@item.Price</td>
                        <td>@item.DateApplied</td>
                        <td>
                            <span class="label font-weight-bold label-lg label-light-success label-inline @(item.Status != true ? "d-none":"")" id="confirm-@item.Id">Confirmed</span>
                            <span class="label font-weight-bold label-lg label-light-danger label-inline @(item.Status == true ? "d-none":"")" id="pending-@item.Id">Pending</span>
                            @if(item.IsPaid){
                                <span class="label font-weight-bold label-lg label-light-success label-inline ml-2">Paid</span>
                            }else{
                                <span class="label font-weight-bold label-lg label-light-danger label-inline ml-2">Unpaid</span>
                            }
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary font-weight-bold dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    @if(!item.Status){
                                        <button type="button" class="dropdown-item approveStudent" value="@item.Id">
                                            Confirm
                                        </button>
                                    }
                                    @if (!item.HasInvoice)
                                    {
                                        <a class="dropdown-item" asp-controller="Invoice" asp-action="Add" asp-route-id="@item.Id">Invoice</a>
                                    }
                                    <a class="dropdown-item" asp-controller="Contract" asp-action="Add" asp-route-id="@item.Id">Contract</a>
                                    <a class="dropdown-item" asp-controller="Student" asp-action="Update" asp-route-id="@item.Id">Edit</a>
                                    <button type="button" class="dropdown-item deleteIcon" onclick="remove(@item.Id)">
                                        Delete
                                    </button>
                                </div>
                            </div>
                            @*<a asp-controller="Contract" asp-action="Add" asp-route-id="@item.Id" style="margin-right: 17px;">
                                <i class="fas fa-file-contract text-success"></i>
                            </a>
                            <a asp-controller="Student" asp-action="Update" asp-route-id="@item.Id" style="margin-right: 5px;">
                                <i class="fas fa-edit text-primary"></i>
                            </a>
                            <button type="button" class="deleteIcon" onclick="remove(@item.Id)">
                                <i class="fas fa-trash text-danger"></i>
                            </button>*@
                           
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        tinymce.init({
            selector: '#kt-tinymce-1',
            height: 200,
            menubar: false,
            toolbar: ['styleselect',
                'undo redo | cut copy paste | bold italic underline forecolor backcolor | link | alignleft aligncenter alignright alignjustify',
                'bullist numlist | outdent indent | blockquote subscript superscript | advlist | autolink | lists charmap | print preview |  code'],
            plugins: 'advlist autolink link image lists charmap print preview code textcolor'
        });

        function search(){
            var trainingId = document.getElementById("TrainingId").value;
            window.location.href = "/Student/Index/" + trainingId;
        }

        function remove(id) {
            Swal.fire({
                title: 'A jeni te sigurt?',
                text: "Nuk do të mund ta kthesh këtë!",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Po, fshije!',
                cancelButtonText: 'Jo'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/Student/DeleteStudent/" + id;
                }
            })
        }
        $(document).ready(function () {
            $('.select2').select2({
		    });
            $('#tableData .dropdown-menu').on('click', '.approveStudent', function () {
                var _id = $(this).attr("value");
                $("#confirm-"+_id).removeClass("d-none");
                $("#pending-"+_id).addClass("d-none");
                $(this).addClass("d-none");
                $.ajax({
                    type: 'GET',
                    url: '/Student/ApproveStudent',
                    data: { id: _id },
                    cache: false,
                    success: function (result) {
                        Swal.fire({
                            //position: 'top-end',
                            icon: 'success',
                            title: result,
                            showConfirmButton: false,
                            timer: 3000
                        });
                    }
                });
            });

            $("#tableData").DataTable({
                "order": [],
                "bInfo": false,
                "responsive": true,
                "language": {
                    "lengthMenu": "Show _MENU_",
                },
                "dom":
                    "<'row'" +
                    "<'col-sm-6 d-flex align-items-center justify-conten-start'l>" +
                    "<'col-sm-6 d-flex align-items-center justify-content-end'f>" +
                    ">" +

                    "<'table-responsive'tr>" +

                    "<'row'" +
                    "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
                    "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
                    ">"

            });
        });
    </script>
}